
@{
    ViewBag.Title = "GetYourList";
}

<script>
    $(function () {
        YourList();
    })
    function YourList() {
        if (getCookies("userID") == null)
        {
            alert("登陆后查看收藏夹！");
            return;
        }
        $.ajax({
            type: "POST",
            url: "/Home/GetYourList",
            data: { ids: getCookies("userID") },
            success: function (data) {
                var html = "<tr><th>内容标题</th><th>链接</th><th>删除</th></tr>";
                for (var i = 0; i < data.length; i++) {
                    html += "<tr><td>"+ data[i].title +"</td> <td>"+ data[i].rul +"</td><td><button onlick = \"Del('"+data[i].id+"')\">删除</button></td></tr>";
                }
                $("#tablelist").html(html);
            }
        });
    }
    function Del(id) {
        if (getCookies("userID") == null) {
            alert("请登陆后再删除！");
            return;
        }

        $.ajax({
            type: "POST",
            url: "/DelLike/Home",
            data: {
                //user_id: "1",
                user_id: getCookies("userID"),
                id: id
            },
            success: function (msg) {
                if (msg == "OK") {
                    alert("删除成功!");
                }
                else {
                    alert("删除失败!");
                }
            }
        });
    }
</script>
<h2>收藏夹</h2>

<table class="table" id="tablelist"></table>


